@tailwind base;
@tailwind components;
@tailwind utilities;

.shorten-button {
  background: #5F55EB;
  font-weight: bold;
}

.shorten-button:disabled,
.shorten-button[disabled] {
  background: #C9C4F4;
  font-weight: bold;
}

.success {
  color: darkgreen;
}

.failure {
  color: darkred;
}
