@tailwind base;
@tailwind components;
@tailwind utilities;

.shorten-button {
    background: #5f55eb;
    font-weight: bold;
}

.shorten-button:disabled,
.shorten-button[disabled] {
    background: #c9c4f4;
    font-weight: bold;
}

.success {
    color: darkgreen;
}

.failure {
    color: darkred;
}
